<!-- onsubmit con return false evita que se recargue la pagina cuando le des al boton de enviar -->
<form onsubmit="return false;">
    <div class="form-group">
        <label for="title">Título</label>
        <input id="title" name="title" class="form-control" type="text" >
    </div>
    <div class="form-group">
            <label for="body">Contenido</label>
            <textarea id="body" name="body" class="form-control" type="text"></textarea>
    </div>

    
    <button (click)="crearNoticia()" class="btn btn-primary btn-block">Crear noticia</button>
</form>